body{
    font-family: 'Poppins', sans-serif;
	margin-left: 20px;
	text-align: center;
}
h1{
	color: red;
}
.footer {
	margin-top: 400px;
	background-color: #2f5167;
	color: #fff;
	height: 80px;
	padding: 40px;
  }

  .footer-logo {
	float: left;
	font-size: 32px;
	padding: 25px 0px;
	font-family: "Bebas Neue"
  }

  .instagram {
	float: right;
	font-family: "arial"
  }
  .judul h3 {
	font-size: 40px;
	border-bottom: 3px solid #dee7ec;
	padding-bottom:15px;
	margin-bottom:10px;
  }